
@{
    ViewBag.Title = "hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container" style="text-align:center;">

        <button class="btn btn-primary" style="border-radius:30px;padding-right:20px;padding-left:20px;">
            Button
        </button>
    </div>