
@{
    ViewBag.Title = "Completed";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Sipariş Tamamlandi</h2>
            <h4>Satin aldiğiniz ürünler en kisa zamanda kargoya verilecektir</h4>
        </div>
    </div>


</div>

